<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <title>Google+ - Friends</title>
</head>
<body bgcolor="#e0e0e0" text="#000000">
<center>
    <h2><font color="#db4437">Friends Management</font></h2>
    
    {% if error_msg %}
        <p><font color="red"><b>{{ error_msg }}</b></font></p>
    {% endif %}

    <!-- Add Friend Form -->
    <form method="POST">
        <b>Add Friend:</b> 
        <input type="text" name="username" size="15">
        <input type="submit" value="Send Request">
    </form>
    <br>

    <!-- Incoming Requests Table -->
    <table border="1" cellpadding="6" cellspacing="0" width="70%" bgcolor="#ffffff">
        <tr bgcolor="#cccccc">
            <th align="left"><b>Incoming Requests</b></th>
            <th align="center"><b>Action</b></th>
        </tr>
        {% if incoming_requests %}
            {% for req in incoming_requests %}
                <tr>
                    <td>{{ req.username }}</td>
                    <td align="center">
                        <a href="{{ url_for('accept_friend', sender_id=req.sender_id) }}">Accept</a> | 
                        <a href="{{ url_for('reject_friend', sender_id=req.sender_id) }}">Reject</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" align="center"><i>No incoming requests.</i></td>
            </tr>
        {% endif %}
    </table>

    <br><br>

    <!-- My Friends Table -->
    <table border="1" cellpadding="6" cellspacing="0" width="70%" bgcolor="#ffffff">
        <tr bgcolor="#cccccc">
            <th align="left" colspan="2"><b>My Friends</b></th>
        </tr>
        {% if my_friends %}
            {% for friend in my_friends %}
                <tr>
                    <td>{{ friend.username }}</td>
                    <td align="center" width="20%">
                        <a href="{{ url_for('remove_friend', friend_id=friend.id) }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" align="center"><i>You don't have any friends added yet.</i></td>
            </tr>
        {% endif %}
    </table>

    <br>
    <p><a href="/">Back to Home</a></p>
</center>
</body>
</html>
