<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Google+ - Profile</title>
</head>
<body bgcolor="#e5e5e5" text="#000000">

    <!-- Верхня панель -->
    <table width="100%" bgcolor="#d32f2f" border="0" cellpadding="8" cellspacing="0">
        <tr>
            <td>
                <font face="Arial, sans-serif" size="4" color="#ffffff">
                    <a href="{{ url_for('index') }}"><font color="#ffffff"><b>← Back</b></font></a>
                </font>
            </td>
            <td align="right">
                <font face="Arial, sans-serif" size="4" color="#ffffff"><b>My Profile</b></font>
            </td>
        </tr>
    </table>

    <br>
    <center>
        <table width="350" border="1" bordercolor="#cccccc" bgcolor="#ffffff" cellpadding="15" cellspacing="0">
            <tr>
                <td align="center">
                    <font face="Arial, sans-serif" size="5" color="#d32f2f"><b>{{ user.username }}</b></font>
                    <br><br>

                    {% if user.avatar and user.avatar != 'default.png' %}
                        <img src="{{ url_for('static', filename='avatars/' + user.avatar) }}" width="80" height="80"><br><br>
                    {% else %}
                        <!-- Якщо немає аватарки, виводимо першу літеру імені -->
                        <table width="80" height="80" bgcolor="#d32f2f" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <font face="Arial, sans-serif" size="6" color="#ffffff"><b>{{ user.username[0] | upper }}</b></font>
                                </td>
                            </tr>
                        </table><br>
                    {% endif %}

                    <form method="POST" enctype="multipart/form-data">
                        <font face="Arial, sans-serif" size="2">Change Avatar:</font><br>
                        <input type="file" name="avatar"><br><br>
                        <input type="submit" value="Upload Avatar">
                    </form>
                    
                    <br><br>
                    <a href="{{ url_for('logout') }}"><font color="#d32f2f"><b>Log Out</b></font></a>
                </td>
            </tr>
        </table>
    </center>

</body>
</html>
